Repository matter-labs/era-consensus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brunoffranca, @moshababo, @pompon0, @slowli

Removed Cranky and started using Cargo's lints table.
  .github/workflows/rust.yml
  node/Cargo.toml
  node/Cranky.toml
  node/actors/bft/Cargo.toml
  node/actors/executor/Cargo.toml
  node/actors/network/Cargo.toml
  node/actors/sync_blocks/Cargo.toml
  node/libs/concurrency/Cargo.toml
  node/libs/concurrency/src/scope/mod.rs
  node/libs/crypto/Cargo.toml
  node/libs/protobuf/Cargo.toml
  node/libs/protobuf_build/Cargo.toml
  node/libs/protobuf_build/src/lib.rs
  node/libs/roles/Cargo.toml
  node/libs/storage/Cargo.toml
  node/libs/utils/Cargo.toml
  node/tools/Cargo.toml
Owners: @brunoffranca, @pompon0, @slowli

Update docs.
  docs/style.md
Owners: none

restored metrics
  node/actors/bft/src/metrics.rs
  node/actors/bft/src/replica/block.rs
  node/actors/executor/src/lib.rs
  node/actors/executor/src/metrics.rs
Owners: @brunoffranca, @pompon0, @slowli

extracted payload provider and payload verification
  node/Cargo.lock
  node/actors/bft/Cargo.toml
  node/actors/bft/src/leader/replica_commit.rs
  node/actors/bft/src/leader/replica_prepare.rs
  node/actors/bft/src/leader/state_machine.rs
  node/actors/bft/src/lib.rs
  node/actors/bft/src/testonly/make.rs
  node/actors/bft/src/testonly/run.rs
  node/actors/executor/src/lib.rs
  node/actors/executor/src/tests.rs
  node/libs/storage/src/replica_state.rs
  node/libs/storage/src/traits.rs
  node/tools/src/main.rs
Owners: @brunoffranca, @pompon0, @slowli

test: Move Protobuf conformance test (#35)
  .github/workflows/protobuf_conformance.yaml
  node/libs/protobuf/Cargo.toml
  node/libs/protobuf/build.rs
  node/libs/protobuf/examples/conformance_test/failure_list.txt
  node/libs/protobuf/examples/conformance_test/main.rs
  node/libs/protobuf/examples/conformance_test/proto/conformance.proto
  node/libs/protobuf/examples/conformance_test/proto/mod.rs
  node/libs/protobuf/examples/conformance_test/proto/test_messages_proto3.proto
  node/libs/protobuf/src/bin/conformance_test/main.rs
Owners: @pompon0

Minor fixes.
  node/Cargo.lock
  node/Cargo.toml
  node/actors/bft/Cargo.toml
  node/actors/executor/Cargo.toml
  node/actors/network/Cargo.toml
  node/actors/sync_blocks/Cargo.toml
  node/deny.toml
  node/libs/concurrency/Cargo.toml
  node/libs/crypto/Cargo.toml
  node/libs/protobuf/Cargo.toml
  node/libs/protobuf_build/Cargo.toml
  node/libs/roles/Cargo.toml
  node/libs/storage/Cargo.toml
  node/libs/utils/Cargo.toml
  node/tools/Cargo.toml
Owners: @brunoffranca, @pompon0, @slowli

Fix manifest
  node/libs/protobuf/Cargo.toml
Owners: @pompon0

[WIP] Add unit tests for zksync_consensus_bft
  node/actors/bft/src/leader/mod.rs
  node/actors/bft/src/leader/replica_commit.rs
  node/actors/bft/src/leader/replica_prepare.rs
  node/actors/bft/src/replica/leader_prepare.rs
  node/actors/bft/src/replica/mod.rs
  node/actors/bft/src/tests/integration_tests.rs
  node/actors/bft/src/tests/mod.rs
  node/actors/bft/src/tests/unit_tests.rs
  node/libs/crypto/src/bn254/error.rs
Owners: @brunoffranca

Minimize defaults
  node/actors/bft/src/tests/unit_tests.rs
Owners: none

.github/CODEOWNERS:

CODEOWNERS @brunoffranca

/node/actors/consensus/ @brunoffranca @moshababo
/node/actors/executor/ @brunoffranca @pompon0 @slowli
/node/actors/network/ @pompon0
/node/actors/sync_blocks/ @slowli

/node/libs/concurrency/ @pompon0
/node/libs/crypto/ @brunoffranca
/node/libs/protobuf/ @pompon0
/node/libs/protobuf_build/ @pompon0
/node/libs/storage/ @slowli
